<section class="container">
    <div class="row">
        <div class="col-xs-4" *ngFor="let c of cast">
            <div class="box">
                <div class="card">
                  <div class="imgBx">
                      <img src="{{c.image}}" alt="images">
                  </div>
                  <div class="details">
                      <h2>{{c.name}}<br><span>{{c.country}}</span></h2>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>