 <div class="row">
     <div class="col-md-6">
        <div class="wrapper">
            <div class="product-img">
                <img [src]="show?.image" width="327">
            </div>
            <div class="product-info">
                <div class="product-text">
                <h1>{{show?.name}}</h1>
                <h2>{{show?.channel}}</h2>
                <span class="summary" [innerHTML]="show?.summary"></span>
                </div>
                <div class="product-price-btn">
                <p><span>{{show?.scheduleTime}}</span>hrs</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <app-episode-search [idShow]="idShow"></app-episode-search>
            <app-season-list [idShow]="idShow"></app-season-list>
        </div>
     </div>
     <div class="col-md-6">
        <app-cast-list [idShow]="idShow"></app-cast-list>
     </div>
 </div>