<div class="table-wrapper">
    <div class="container">
        <a (click)="showAddUser()"><i class="material-icons">add_circle</i> Agregar usuario</a>
        <ng-container *ngIf="addUser">
           <app-users-add [userEdit] = "userEdit"
                        (reload)="onReloadEvent($event)"></app-users-add>
        </ng-container>
    </div>
    <table class="fl-table">
        <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>Usuario</th>
            <th>Rol</th>
            <th>Fecha Creación</th>
            <th>Creado por</th>
            <th>Fecha Modificación</th>
            <th>Modificado por</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="!users.length > 0">
            <tr>
                <td colspan="8">No hay usuarios registrados</td>
            </tr>
        </ng-container>
        <tr *ngFor="let user of users">
            <td>{{user.fullName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.role.roleName}}</td>
            <td>{{user.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.createdBy}}</td>
            <td>{{user.updatedAt | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.updatedBy}}</td>
            <td>
                <a (click)="showAddUser(user)" style="color: #4CAF50;"><i class="material-icons">edit</i></a>
                <a (click)="deleteUser(user.id)" style="color: #F44336;"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        <tbody>
    </table>
</div>