<div class="blog-card" *ngFor="let episode of episodes">
    <div class="meta" >
      <div class="photo" [ngStyle]="{'background-image': 'url(' + episode.image + ')'}"></div>
      <ul class="details">
        <li class="date">{{episode.releaseDate}}</li>
        <li class="tags">{{episode.duration}} min.</li>
      </ul>
    </div>
    <div class="description">
      <h1>{{episode.name}}</h1>
      <h2>Capítulo {{episode.order}}</h2>
      <span class="summary" [innerHTML]="episode.summary"></span>
    </div>
</div>