<div class="filters">
    <form [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-6">
                <label>Buscar episodios por fecha 
                    <input type="date" (change)="filterEpisodesByDate()" formControlName="date" id="date" />
                </label>
            </div>
            <div class="col-md-6">
                <input type="button" value="Limpiar" id="btnClear"/>
            </div>
        </div>
    </form>
</div>
<ng-container *ngIf="!episodesFilter.length > 0">
    <p>{{error}}</p>
</ng-container>
<div class="blog-card" *ngFor="let episode of episodesFilter">
    <div class="meta" >
      <div class="photo" [ngStyle]="{'background-image': 'url(' + episode.image + ')'}"></div>
      <ul class="details">
        <li class="date">{{episode.releaseDate}}</li>
        <li class="tags">{{episode.duration}} min.</li>
      </ul>
    </div>
    <div class="description">
      <h1>{{episode.name}}</h1>
      <h2>Capítulo {{episode.order}}</h2>
      <span class="summary" [innerHTML]="episode.summary"></span>
    </div>
</div>
