
.filters {
  display: block;
}

.filters label{
  display: block;
  font-size: 10px;
  color: #888;
  margin-bottom: 15px;
}

.filters input[type="text"],
.filters input[type="date"],
.filters input[type="datetime"],
.filters input[type="email"],
.filters input[type="number"],
.filters input[type="search"],
.filters input[type="time"],
.filters input[type="url"],
.filters input[type="password"],
.filters textarea,
.filters select {
  display: inline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
    padding: 8px;
    margin: 7px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border: 2px solid #d1ceff;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.filters input[type="button"], 
.filters input[type="submit"]{
  background: #2A88AD;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    color: #fff;
    margin: 7px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font-size: 30px;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 15px;
}
.filters input[type="button"]:hover, 
.filters input[type="submit"]:hover{
  background: #2A6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}


.summary {
    display: block;
    width: 100%;
    height: 100px;
    overflow: auto;
    text-overflow: ellipsis;
  }
  
  .blog-card {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      margin: 1rem auto;
      box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
      margin-bottom: 1.6%;
      background: #fff;
      line-height: 1.4;
      font-family: sans-serif;
      border-radius: 5px;
      overflow: hidden;
      z-index: 0;
    }
    .blog-card a {
      color: inherit;
    }
    .blog-card a:hover {
      color: #5ad67d;
    }
    .blog-card:hover .photo {
      -webkit-transform: scale(1.3) rotate(3deg);
              transform: scale(1.3) rotate(3deg);
    }
    .blog-card .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .blog-card .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform .2s;
      transition: -webkit-transform .2s;
      transition: transform .2s;
      transition: transform .2s, -webkit-transform .2s;
    }
    .blog-card .details,
    .blog-card .details ul {
      margin: auto;
      padding: 0;
      list-style: none;
    }
    .blog-card .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      margin: auto;
      -webkit-transition: left .2s;
      transition: left .2s;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 10px;
      width: 100%;
      font-size: .9rem;
    }
    .blog-card .details a {
      -webkit-text-decoration: dotted underline;
              text-decoration: dotted underline;
    }
    .blog-card .details ul li {
      display: inline-block;
    }
    .blog-card .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007";
    }
    .blog-card .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }
    .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "\f02b";
      margin-right: 10px;
    }
    .blog-card .details .tags li {
      margin-right: 2px;
    }
    .blog-card .details .tags li:first-child {
      margin-left: -4px;
    }
    .blog-card .description {
      padding: 1rem;
      background: #fff;
      position: relative;
      z-index: 1;
    }
    .blog-card .description h1,
    .blog-card .description h2 {
      font-family: Poppins, sans-serif;
    }
    .blog-card .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    .blog-card .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px;
    }
    .blog-card .description .read-more {
      text-align: right;
    }
    .blog-card .description .read-more a {
      color: #5ad67d;
      display: inline-block;
      position: relative;
    }
    .blog-card .description .read-more a:after {
      content: "\f061";
      font-family: FontAwesome;
      margin-left: -10px;
      opacity: 0;
      vertical-align: middle;
      -webkit-transition: margin .3s, opacity .3s;
      transition: margin .3s, opacity .3s;
    }
    .blog-card .description .read-more a:hover:after {
      margin-left: 5px;
      opacity: 1;
    }
    .blog-card p {
      position: relative;
      margin: 1rem 0 0;
    }
    .blog-card p:first-of-type {
      margin-top: 1.25rem;
    }
    .blog-card p:first-of-type:before {
      content: "";
      position: absolute;
      height: 5px;
      background: #5ad67d;
      width: 35px;
      top: -0.75rem;
      border-radius: 3px;
    }
    .blog-card:hover .details {
      left: 0%;
    }
    @media (min-width: 640px) {
      .blog-card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        max-width: 700px;
      }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto;
      }
      .blog-card .description {
        flex-basis: 60%;
      }
      .blog-card .description:before {
        -webkit-transform: skewX(-3deg);
                transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
      .blog-card.alt {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
                flex-direction: row-reverse;
      }
      .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
                transform: skew(3deg);
      }
      .blog-card.alt .details {
        padding-left: 25px;
      }
    }
    