<div class="form-style-10">
    <h1>Agregar usuario<span>Los campos marcados con * son obligatorios</span></h1>
    <form [formGroup]="formGroup" (submit)="onSubmit()">
        <div class="section"><span>1</span>Información básica</div>
        <div class="inner-wrap">
            <label>Nombre usuario*<input formControlName="username" type="text" name="username" /></label>
            <label>Contraseña*<input formControlName="password" type="password" name="password"/></label>
            <label>Nombre completo*<input formControlName="fullName" type="text" name="fullName"/></label>
            <label>Rol*
                <select formControlName="role" name="type">
                    <option value="">--Seleccionar rol</option>
                    <option [value]="rol.id" *ngFor="let rol of roles">{{rol.roleName}}</option>
                </select>
            </label>
        </div>
        <div class="button-section">
            <input type="submit" name="Registrar" />
        </div>
    </form>
</div>