<section>
    <details *ngFor="let season of seasons">
      <summary>Season {{season.number}} <small>({{season.cantEpisodes}} episodios)</small></summary>
      <div>
        <app-episode-season-list [idSeason]="season.id"></app-episode-season-list>
      </div>
    </details>
</section>