
section {
    max-width: var(--sectionWidth);
    margin-left: 10px;
    width: 97%;
    color: black;
  }
  
  summary {
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    -webkit-transition: .3s;
    transition: .3s;
    border-bottom: 2px solid;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  summary > small {
    font-size: 10px;
  }
  
  details > div {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0 20px;
    font-family: "Karla", sans-serif;
    line-height: 1.5;
  }
  
  details > div > img {
    align-self: flex-start;
    max-width: 100%;
    margin-top: 20px;
  }
  
  details > div > p {
    -webkit-box-flex: 1;
            flex: 1;
  }
  
  details[open] > summary {
    color: red;
  }
  
  @media (min-width: 768px) {
    details[open] > div > p {
      opacity: 0;
      -webkit-animation-name: showContent;
              animation-name: showContent;
      -webkit-animation-duration: 0.6s;
              animation-duration: 0.6s;
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      margin: 0;
      padding-left: 20px;
    }
  
    details[open] > div {
      -webkit-animation-name: slideDown;
              animation-name: slideDown;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
  
    details[open] > div > img {
      opacity: 0;
      height: 100%;
      margin: 0;
      -webkit-animation-name: showImage;
              animation-name: showImage;
      -webkit-animation-duration: 0.3s;
              animation-duration: 0.3s;
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
    }
  }
  @-webkit-keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    to {
      opacity: 1;
      height: var(--contentHeight);
      padding: 20px;
    }
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      height: 0;
      padding: 0;
    }
    to {
      opacity: 1;
      height: var(--contentHeight);
      padding: 20px;
    }
  }
  @-webkit-keyframes showImage {
    from {
      opacity: 0;
      -webkit-clip-path: inset(50% 0 50% 0);
              clip-path: inset(50% 0 50% 0);
      -webkit-transform: scale(0.4);
              transform: scale(0.4);
    }
    to {
      opacity: 1;
      -webkit-clip-path: inset(0 0 0 0);
              clip-path: inset(0 0 0 0);
    }
  }
  @keyframes showImage {
    from {
      opacity: 0;
      -webkit-clip-path: inset(50% 0 50% 0);
              clip-path: inset(50% 0 50% 0);
      -webkit-transform: scale(0.4);
              transform: scale(0.4);
    }
    to {
      opacity: 1;
      -webkit-clip-path: inset(0 0 0 0);
              clip-path: inset(0 0 0 0);
    }
  }
  @-webkit-keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes showContent {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  