/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
