<div class="container">
    <div class="filters">
        <form [formGroup]="formGroup" (submit)="filter()">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" formControlName="name" id="name" placeholder="Nombre">
                </div>
                <div class="col-md-2">
                    <input type="text" formControlName="language" id="language" placeholder="Lenguaje">
                </div>
                <div class="col-md-2">
                    <input type="text" formControlName="genre" id="genre" placeholder="Género">
                </div>
                <div class="col-md-2">
                    <input type="text" formControlName="channel" id="channel" placeholder="Canal">
                </div>
                <div class="col-md-2">
                    <input type="time" formControlName="scheduleTime" id="scheduleTime" placeholder="Horario">
                </div>
                <div class="col-md-2">
                    <input type="submit" id="scheduleTime" value="Filtrar">
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <ng-container *ngIf="!shows.length > 0">
            <p>No se han encontrado shows por los filtros seleccionados</p>
        </ng-container>
        <ng-container *ngFor="let show of shows">
            <div class="col-md-3">
                <div class="product-card">
                    <div class="badge">{{show.channel}}</div>
                    <div class="product-tumb">
                        <img [src]="show.image" alt="">
                    </div>
                    <div class="product-details">
                        <span class="product-catagory">{{show.genre}}</span>
                        <h4><a [routerLink]="['detail', show.id]">{{show.name}}</a></h4>
                        <span class="summary" [innerHTML]="show.summary"></span>
                        <div class="product-bottom-details">
                            <div class="product-price">{{show.scheduleTime}} <small>hrs</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
