.container {
    width: 98%;
}

/* Filters form styles */

.filters {
    display: table;
    margin: 20px auto 0;
    border: 2px solid #f3f3ff;
    border-radius: 10px;
}

.filters label{
	display: block;
	font-size: 10px;
	color: #888;
	margin-bottom: 15px;
}

.filters input[type="text"],
.filters input[type="date"],
.filters input[type="datetime"],
.filters input[type="email"],
.filters input[type="number"],
.filters input[type="search"],
.filters input[type="time"],
.filters input[type="url"],
.filters input[type="password"],
.filters textarea,
.filters select {
	display: inline;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
    padding: 8px;
    margin: 7px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #d1ceff;
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.filters input[type="button"], 
.filters input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    color: #fff;
    margin: 7px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font-size: 30px;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.filters input[type="button"]:hover, 
.filters input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

/* Show card styles */
.product-card {
    width: 100%;
    position: relative;
    float: left;
    margin: 20px;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 5px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 8px 8px 5px -1px rgba(150, 149, 149, 0.75);
}

.product-details {
    padding: 10px;
}

.product-details .summary {
    display: block;
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-details .summary:hover {
    overflow: auto;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #fbb72c;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #4081c2;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: red;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}