<div class="header">
    <a href="./" class="logo">
      <img width="40" src="assets/img/popcorn.png"/>
      TVShow Catalog
    </a>
    <div class="header-right">
      <a routerLink="./catalog/show">Shows</a>
      <a routerLink="./admin/users">Usuarios</a>
    </div>
  </div>